---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/pet.getRandom?format=json&key=<petfinder_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","petIds":{"id":{"$t":"43936630"}},"header":{"timestamp":{"$t":"2019-02-25T23:59:49Z"},"status":{"message":{},"code":{"$t":"100"}},"version":{"$t":"0.1"}},"@xsi:noNamespaceSchemaLocation":"http://api.petfinder.com/schemas/0.9/petfinder.xsd"}}'
  recorded_at: Mon, 25 Feb 2019 23:59:49 GMT
recorded_with: VCR 4.0.0
